<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faceword.nio.mybatis.mapper.MansFaceLogCustomMapper" >


    <select id="findListByLicense"
            parameterType="java.lang.String" resultMap="com.faceworld.base.mybatis.mapper.MansFaceLogMapper.ResultMapWithBLOBs">
            select * from mans_face_log where
            license = #{license}
            and status = 2
    </select>


</mapper>